### 筛选数据

In [72]:
import pandas as pd
df = pd.read_csv('D:\lw\data\states_2020-09-07-01.csv')
data = pd.DataFrame(df,columns=[ 'icao24','time', 'lat', 'lon', 'baroaltitude', 'velocity','heading', 'onground'])
# 去除NAN
data.dropna(axis=0, inplace=True)
# 去除在地面上的点
data = data.loc[df['onground']==False]
data.info()
data.head(10)
data.to_csv('data.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848721 entries, 0 to 1041200
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   icao24        848721 non-null  object
 1   time          848721 non-null  int64
 2   lat           848721 non-null  float64
 3   lon           848721 non-null  float64
 4   baroaltitude  848721 non-null  float64
 5   velocity      848721 non-null  float64
 6   heading       848721 non-null  float64
 7   onground      848721 non-null  bool
dtypes: bool(1), float64(5), int64(1), object(1)
memory usage: 52.6+ MB

In [15]:
spec_data = data[data['icao24'] == 'ab284d']
spec_data.head(20)
spec_data.to_csv('ab284d.csv')

### 将时间戳转成成具体时间(非必需)

In [50]:
import pandas as pd
df = pd.read_csv('data.csv')

# 将时间戳转成成具体时间
df['date'] = pd.to_datetime(df['time'], unit='s')
df.head(20)

,icao24,time,lat,lon,baroaltitude,velocity,heading,onground,date
0,ab284d,1599440410,34.819584,-84.298553,11277.60,238.587791,152.937698,False,2020-09-07 01:00:10
1,7812d6,1599440410,29.240811,107.057298,7338.06,202.477342,187.738941,False,2020-09-07 01:00:10
2,45ce49,1599440410,50.451416,5.708193,8702.04,259.427739,234.198166,False,2020-09-07 01:00:10
3,a61f05,1599440410,41.435989,-95.465074,10965.18,207.272418,266.157547,False,2020-09-07 01:00:10
4,a80a8f,1599440410,36.280719,133.779758,9448.80,249.437445,93.428912,False,2020-09-07 01:00:10
5,ac9c3f,1599440410,36.846376,-75.972680,327.66,30.469680,348.310631,False,2020-09-07 01:00:10
6,a7824e,1599440410,34.675644,-88.135071,10972.80,222.121288,294.784409,False,2020-09-07 01:00:10
7,a67013,1599440410,32.262190,-96.991453,1661.16,55.275805,14.553573,False,2020-09-07 01:00:10
8,a86a66,1599440410,45.481934,-122.436414,693.42,103.240593,344.093821,False,2020-09-07 01:00:10
9,896468,1599440410,28.668915,70.644520,10972.80,224.279885,227.416894,False,2020-09-07 01:00:10
10,42498b,1599440410,54.984695,53.097166,9517.38,231.124523,282.860793,False,2020-09-07 01:00:10
11,a09cad,1599440410,39.290554,-105.203003,5113.02,169.161359,81.253838,False,2020-09-07 01:00:10
12,a93711,1599440410,39.418247,-105.156982,4274.82,166.680650,89.823162,False,2020-09-07 01:00:10
13,a3b0fe,1599440410,44.336119,-91.403302,9601.20,271.957501,117.243650,False,2020-09-07 01:00:10
14,a73690,1599440410,41.787094,-77.901806,11582.40,264.762292,100.523912,False,2020-09-07 01:00:10
15,a14c18,1599440410,24.822052,121.582133,13716.00,207.629624,53.158495,False,2020-09-07 01:00:10
16,a997cc,1599440410,39.983414,-95.519043,12192.00,212.714352,265.144298,False,2020-09-07 01:00:10
17,a04c67,1599440410,39.869618,-104.793091,3009.90,158.492173,250.271116,False,2020-09-07 01:00:10
18,ab5f00,1599440410,35.160141,-115.552125,8534.40,209.893782,210.650668,False,2020-09-07 01:00:10
19,a05627,1599440410,42.572999,-69.918653,11277.60,278.401674,64.145191,False,2020-09-07 01:00:10

In [79]:
import pandas as pd
data = pd.read_csv('data.csv')
df = pd.DataFrame(data)
# 忽略最后一行onground
df =df.iloc[:, :-1]

id_list = df['icao24'].unique()
len(id_list)

4761

### 过滤数据

In [64]:
# 过滤掉轨迹长度小于100的点
fileter_data = df.groupby(by=[df['icao24']]).filter(lambda x: len(x) >= 100)
id_list = fileter_data['icao24'].unique()
len(id_list)

3412

In [60]:
fileter_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 773937 entries, 0 to 848720
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   icao24        773937 non-null  object
 1   time          773937 non-null  int64
 2   lat           773937 non-null  float64
 3   lon           773937 non-null  float64
 4   baroaltitude  773937 non-null  float64
 5   velocity      773937 non-null  float64
 6   heading       773937 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 67.2+ MB

In [73]:
fileter_data.to_csv("filter_state.csv",index=False)

PermissionError: [Errno 13] Permission denied: 'filter_state.csv'

In [81]:
dup_col = ['icao24', 'lat', 'lon', 'baroaltitude']
dup_col2 = ['time','icao24']
df_dup = fileter_data[fileter_data.duplicated(dup_col)]
df_dup.head(20)

Empty DataFrame
Columns: [icao24, time, lat, lon, baroaltitude, velocity, heading]
Index: []

In [75]:
dup_col = ['icao24', 'lat', 'lon', 'baroaltitude']

# 去除重复数据
fileter_data.drop_duplicates(subset=dup_col,keep='first',inplace=True)
# 去除重复点数据
fileter_data.drop_duplicates(subset=['time','icao24'],keep='first',inplace=True)
fileter_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643508 entries, 0 to 848720
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   icao24        643508 non-null  object
 1   time          643508 non-null  int64
 2   lat           643508 non-null  float64
 3   lon           643508 non-null  float64
 4   baroaltitude  643508 non-null  float64
 5   velocity      643508 non-null  float64
 6   heading       643508 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 39.3+ MB